* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page {
    /* height: 100vh; */
}
ul li {
    list-style: none;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glavni {
    border: 1px solid #137ff4;
    border-radius: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
 }

 .naslov {
    color: #137ff4;
 }

 .btn {
    width: 100px;
 }