<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <!-- <meta http-equiv="refresh" content="2" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <title>Testiranje</title>
</head>

<body>
  <div class="container">
    <div class="naslov">
      <h1>Placanje</h1>
    </div>
    <div class="glavni p-3">
      <div class="col-md-3">
        <a class="btn btn-primary" href="/pay_test">Plati test</a>
      </div>
      <div class="col-md-3">
        <a class="btn btn-success" href="/pay_ent">Plati ent</a>
      </div>

      <div class="col-md-3">

        <a class="btn btn-info" href="/pay_cse">Plati cse</a>
      </div>
      <div class="col-md-3">
        <a class="btn btn-secondary" href="/qty">Info</a>
      </div>
    </div>

    <div class="info">
      <h4>Info o transakciji</h4>
      <p>

      </p>
      <p>

      </p>
    </div>
  </div>


</body>

</html>